<!-- Page Header -->
<div class="image-wrapper">
    <img src="./assets/img/CWC.jpg" alt="Personal Pic" class="photo">
</div>
<h2 class="page-title">Cheuk Wing Chan</h2>

<mat-card class="wide">
    <section class="content">
        <p>
            Hello! My name is Cheuk Wing Chan, you may also call me Alvin. <br />
            I am currently studying at the Software Engineering Technician program in Centennial College.
        </p>
        <p>
            I have a passion for turning ideas into reality through computer code and enjoy the challenge of solving complex real world problems. <br />
            Before enrolling in the current college program, I have been learning programming by myself for several years. Therefore, I already had some knowledge in several programming languages.
            After graduation from the university, I have worked in the IT industry for over a year. Then, I decided to pursue a professional career as a programmer, thus decided to study for a credential. <br />
            The projects created by me can be viewed in the <b>Projects</b> page.
        </p>
        <h3>Programming Languages & Skills</h3>
        <ul>
            <li>Python</li>
            <li>HTML & CSS</li>
            <li>JavaScript & TypeScript (Express, Angular, React)</li>
            <li>C#</li>
            <li>Java</li>
            <li>SQL (MySQL / Oracle DB)</li>
            <li>Bash Script</li>
            <li>PowerShell</li>
        </ul>
        <h3>Qualifications</h3>
        <ul>
            <li>Cisco Certified Network Associate (CCNA): November 2020</li>
        </ul>
        <h3>Platforms</h3>
        <ul>
            <li>Windows Server</li>
            <li>Linux</li>
            <li>macOS</li>
            <li>IBM i</li>
        </ul>
        <a href="./assets/files/Resume-CWC.pdf"><button mat-raised-button color="accent">Get my resume in PDF</button></a>
    </section>
</mat-card>