img.photo {
    display: block;
    margin: 0 auto 2rem auto;
    border: 1px solid #999;
    border-radius: 25%;

    height: 17.5rem;
    width: auto;
    object-fit: contain;
}

/* Container for introduction */
section.content {
    width: 70%;
    margin: 1rem auto;
    padding-bottom: 0.5rem;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
}