img.logo {
    margin-right: 1rem;
    position: relative;
    z-index: 2;

    width: 3rem;
    height: auto;
    object-fit: contain;
}

span.logo-text {
    font-weight: 300;
    font-size: 1.5rem;
}

section.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 1rem;
    padding: 1rem 2rem;
}