<!-- 
    Filename: app.component.html
    Student Name: Cheuk Wing Chan
    Student ID: 301264973
    Date: 2023 June 11 */ 
-->

<mat-toolbar color="primary" class="mat-elevation-z5">
    <div class="logo-container">
        <img src="/assets/img/logo.svg" class="logo" alt="Logo">
        <span class="logo-text">CWC Software Engineering</span>
    </div>
    <div class="button-container">
        <a routerLink="/"><button mat-raised-button color="primary">Home</button></a>
        <a routerLink="/aboutme"><button mat-raised-button color="primary">About Me</button></a>
        <a routerLink="/projects"><button mat-raised-button color="primary">Projects</button></a>
        <a routerLink="/services"><button mat-raised-button color="primary">Services</button></a>
        <a routerLink="/contacts"><button mat-raised-button color="primary">Contact Me</button></a>
    </div>
</mat-toolbar>

<section class="content">
    <router-outlet (activate)="onSwitchRoute()"></router-outlet>
</section>

<section class="footer">
    <p color="primary">Copyright &copy; 2023: Cheuk Wing Chan, Student ID: 301264973</p>
</section>