<mat-card class="wide">
    <h2 class="page-title">SERVICES</h2>
    <p>
        As a software engineering student with hands-on experience and knowledge of various programming languages, 
        I can offer an array of services to clients. <br />
        I'm committed to delivering high-quality and clear work, always striving to meet and exceed client expectations.
    </p>
    <p>The available services are listed as follows: </p>
</mat-card>

<!-- Cards showing the available services -->
<div class="services-container">
    <mat-card class="services">
        <h3>Interactive Website</h3>
    </mat-card>
    <mat-card class="services">
        <h3>Console Programs</h3>
    </mat-card>
    <mat-card class="services">
        <h3>Backend Servers</h3>
    </mat-card>
</div>