<!-- Page Header -->
<h2 class="page-title">SERVICES</h2>
<div>
    <p class="page-description">
        As a software engineering student with hands-on experience and knowledge of various programming languages, 
        I can offer an array of services to clients. <br />
        I'm committed to delivering high-quality and clear work, always striving to meet and exceed client expectations.
    </p>
    <p class="page-description">The available services are listed as follows: </p>
</div>


<!-- Cards showing the available services -->
<div class="services-container">
    <mat-card class="services">
        <h3>Interactive Website</h3>
        <img src="./assets/img/web.png" alt="">
        <p>
            With my solid foundation in HTML, CSS, and JavaScript, along with frameworks such as Angular, 
            I can create a dynamic online presence that's both functional and visually appealing. <br />
            I bring a user-centric approach to my designs, ensuring that every element works towards providing a seamless 
            and enjoyable browsing experience. <br />
            If you're seeking an intuitive, modern, and interactive website that can effectively connect with 
            your audience and drive your business goals, let's get in touch!
        </p>
    </mat-card>
    <mat-card class="services">
        <h3>Console Programs</h3>
        <img src="./assets/img/console.png" alt="">
        <p>
            Leveraging my expertise in languages like C#, Java, and Python, 
            I am well-versed in creating console programs that offer rich functionality and robust performance. <br />
            Whether it's a simple utility program or a complex data processing application, 
            I prioritize clean, readable, and efficient code to deliver a product that not only meets but exceeds your expectations. <br />
            If you're in need of a reliable console program that delivers accurate results swiftly, I would be thrilled to work with you.
        </p>
    </mat-card>
    <mat-card class="services">
        <h3>Backend Servers</h3>
        <img src="./assets/img/backend.png" alt="">
        <p>
            Armed with a strong background in Node.js, Python, and Java, as well as expertise in database technologies like SQL and MongoDB, 
            I'm capable of architecting scalable and secure server-side applications. <br />
            My approach involves building robust APIs, managing databases effectively, and ensuring optimal performance of server logic, 
            all while keeping security at the forefront. <br />
            If you're looking for a developer who can help you establish a strong, reliable, 
            and high-performing backend for your application, don't hesitate to reach out!
        </p>
    </mat-card>
</div>