<!-- Page Header -->
<section>
    <div class="image-wrapper">
        <img src="./assets/img/logo.svg" alt="">
    </div>
    <h2 class="page-title">Cheuk Wing Chan's Portfolio - Mission Statement</h2>
    <p class="page-description">
        I am a software engineering student at Centennial College, who study technological knowledge rigorously and understand their practical application. 
        My career goal is to build software that makes a significant difference in the world, using technology to solve complex problems and create positive change. 
        I will foster an environment of inclusivity, collaboration, and mutual growth within my community college and industry network.
    </p>
</section>

<!-- Content cards that show different pages of the website -->
<section class="content-row">
    <mat-card class="content">
        <a routerLink="/aboutme">About Me</a>
        <p class="content-text">Take a look on more information about myself.</p>
    </mat-card>
    <mat-card class="content">
        <a routerLink="/projects">Projects</a>
        <p class="content-text">All the meaningful and exciting projects produced by me.</p>
    </mat-card>
    <mat-card class="content">
        <a routerLink="/services">Services</a>
        <p class="content-text">List of services that I could offer.</p>
    </mat-card>
    <mat-card class="content">
        <a routerLink="/contacts">Contact Me</a>
        <p class="content-text">Find the various means of contacting me.</p>
    </mat-card>
</section>
