.image-wrapper > img {
    display: block;
    margin: 0 auto;

    width: 8rem;
    height: auto;
    object-fit: contain;
}

section.content-row {
    margin: 3rem auto 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    gap: 1rem;
}

mat-card.content {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 8px 2px #ccc;
}

mat-card.content p {
    margin: 2rem auto 1rem auto;
    text-align: center;
    width: 90%;
    line-height: 1.5;
}

mat-card.content a {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;

    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: white;

    border-bottom: 2px dotted white;
}

mat-card.content a:hover, 
mat-card.content a:active {
    background-color: #673ab7;
    color: white;

    border: none;
    border-radius: 1rem;
    transition: 0.25s;
}