<h2 class="page-title">PROJECTS</h2>

<section class="projects-container">
    <div class="project">
        <h3>Bug Smasher</h3>
        <img src="./assets/img/project1.png" alt="">
        <div class="project-info">
            <h4>Sole Developer Project 🧑</h4>
            <p>A simple bug smashing game written completely in JavaScript using canvas.</p>
            <p>Access Link 🔗 : <a href="http://studentweb.cencol.ca/cchan283/comp125/assignment3/assignment3.html">http://studentweb.cencol.ca/cchan283/comp125/assignment3/assignment3.html</a></p>
        </div>
    </div>
    
    <div class="project">
        <h3>Animated Image Gallery</h3>
        <img src="./assets/img/project2.png" alt="">
        <div class="project-info">
            <h4>Sole Developer Project 🧑</h4>
            <p>An image gallery that includes automatic animation played in the background to display different pictures.</p>
            <p>Access Link 🔗 : <a href="http://studentweb.cencol.ca/cchan283/comp125/assignment4/assignment4.html">http://studentweb.cencol.ca/cchan283/comp125/assignment4/assignment4.html</a></p>
        </div>
    </div>
    
    <div class="project">
        <h3>Gameplay Analysis Console</h3>
        <img src="./assets/img/console.png" alt="">
        <div class="project-info">
            <h4>Collaborated Project 👨‍👨‍👦‍👦</h4>
            <p>A python console program that use machine learning and image recognition to analyze video game play and obtain statistics on player's performance.</p>
            <p>Machine learning algorithm for this program is developed in collaboration with another software developer.</p>
        </div>
    </div>
</section>
